<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>404 - Page introuvable</title>

  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- HEADER -->
<header class="top-header">
  <nav>
    <a href="/">Accueil</a>
    <a href="/artists">Artistes</a>
  </nav>

  <!-- Bouton thème -->
  <button class="theme-btn" onclick="toggleTheme()">🎨</button>
</header>

<!-- CONTENU 404 -->
<div class="hero">
  <h2>404</h2>
  <p>Mauvaise URL.<br>  
     Même Google ne sait pas où tu vas là.</p>

  <a href="/" class="hero-btn">
    Retour à l’accueil
  </a>
</div>

<!-- SCRIPT THEME -->
<script src="/static/js/theme.js"></script>

</body>
</html>
