<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{.Artist.Name}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>

<!-- HEADER -->
<header class="top-header">
  <div class="header-content">
    <nav>
      <a href="/artists">Artistes</a>
    </nav>
  </div>
</header>




<!-- ARTIST INFO -->
<div style="margin-top:150px; text-align:center;">
    <h2>{{.Artist.Name}}</h2>
    <img src="{{.Artist.Image}}" style="width:300px;border-radius:15px;">
    <p>Créé en {{.Artist.CreationDate}}</p>
    <p>Premier album : {{.Artist.FirstAlbum}}</p>
</div>

<h3 style="text-align:center;">Carte des concerts</h3>

<div id="map" style="height:400px;width:80%;margin:20px auto;border-radius:20px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
var map = L.map('map').setView([20, 0], 2);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap'
}).addTo(map);
</script>

</body>
</html>
